@import './reset.module';

body {
  background: #192e34;
  color: white;
}

.appContainer {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 1.4em;
  padding: 20px;
  text-align: center;
}

.cardContainer {
  width: 80vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 3vh;
  grid-row-gap: 3vh;
  position: relative;
  margin: 0 auto;

}

.scoreContainer {
  display: flex;


  .score {
    font-size: 1.4em;
    padding: 20px;
  }

}